<rpc-reply message-id="urn:uuid:a85aced9-0203-4a31-b9b6-73925dd52969">
  <configuration changed-seconds="1718293437" changed-localtime="2024-06-13 11:43:57 EDT">
    <interfaces>
      <interface>
        <name>ge-0/0/0</name>
        <flexible-vlan-tagging/>
        <encapsulation>flexible-ethernet-services</encapsulation>
        <unit>
          <name>100</name>
          <vlan-id>100</vlan-id>
          <family>
            <inet>
              <mtu>1500</mtu>
              <address>
                <name>10.10.10.22/31</name>
              </address>
            </inet>
            <iso>
                    </iso>
            <mpls>
              <mtu>1500</mtu>
            </mpls>
          </family>
        </unit>
      </interface>
      <interface>
        <name>xe-0/1/0</name>
        <gigether-options>
          <ieee-802.3ad>
            <bundle>ae0</bundle>
          </ieee-802.3ad>
        </gigether-options>
      </interface>
      <interface>
        <name>xe-0/1/1</name>
        <gigether-options>
          <ieee-802.3ad>
            <bundle>ae0</bundle>
          </ieee-802.3ad>
        </gigether-options>
      </interface>
      <interface>
        <name>ae0</name>
        <aggregated-ether-options>
          <lacp>
            <active/>
          </lacp>
        </aggregated-ether-options>
        <unit>
          <name>0</name>
          <family>
            <inet>
                    </inet>
          </family>
        </unit>
      </interface>
      <interface>
        <name>fxp0</name>
        <unit>
          <name>0</name>
          <family>
            <inet>
              <address>
                <name>198.108.6.100/25</name>
              </address>
            </inet>
          </family>
        </unit>
      </interface>
      <interface>
        <name>lo0</name>
        <unit>
          <name>0</name>
          <family>
            <inet>
                    </inet>
          </family>
        </unit>
      </interface>
    </interfaces>
  </configuration>
</rpc-reply>